head
    link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css")
    link(rel="stylesheet" href="https://static.fontawesome.com/css/fontawesome-app.css")
    link(rel="stylesheet" href="css/style.css")
    link(rel="shortcut icon" type="image/png" href="images/avatar.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Mateusz

body
    header
        .headerLeft 
            a Personal Page

        .headerRight
            .link
                a(href="https://github.com/mateuszkdev" target="_blank") 
                    i(class="fab fa-github")
                    | Github
            .link
                a(href="https://discord.com/users/395266229436153868" target="_blank")
                    i(class="fab fa-discord")
                    | Discord

    main
        #upper
            .container
                div 
                    | Hi, I'm Mateusz, a seasoned backend developer with 6 years of experience. My expertise lies in backend systems using mainly node/deno and js/ts but I'm not completely unfamiliar with other technologies. I also have a good grasp of fundamental web development. Thank you for visiting
                div
                    #langs
                        |Technologies I know:
                        br
                        for lang of languages
                            p.lang
                                a(href=lang.url target="_blank") #{lang.name}

            .containerFull
                for pr of projects
                    .project
                        .project-item
                            if pr.archived
                                a.archived Archived
                            a.name #{pr.name} <br> <br>
                            if pr.link
                                i(class="fab fa-"+ pr.link.platform.toLowerCase())
                                a.link(href=pr.link.link target="_blank") #{pr.link.platform}
                            if pr.authors
                                p.author By: 
                                    for member of pr.authors
                                        | #{member}     
                            p.version v.#{pr.currentVersion}
                                                                                                                                                                                
    footer
        a Mateusz Kalaga
        | COPYRIGHT
        | 2023